<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vouchers</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include('navbar.ejs') %>
    <div style="margin-left: 280px">
      <div class="container mt-4">
        <h1 class="mb-4" style="color: #ff7622">Danh sách mã giảm giá</h1>
        <form action="/admin/vouchers/search" method="get" class="mb-4">
          <div class="form-group">
            <label for="search">Tìm kiếm Vouchers</label>
            <div class="input-group">
              <input
                type="text"
                id="search"
                name="search"
                class="form-control"
                placeholder="Enter voucher code or description"
              />
              <div class="input-group-append">
                <button
                  type="submit"
                  class="btn btn-primary"
                  style="
                    background-color: #ff7622;
                    border: 2px solid #ff7622;
                    color: #fff;
                  "
                  ;
                >
                  Tìm kiếm
                </button>
              </div>
            </div>
          </div>
        </form>

        <!-- Button to trigger modal -->
        <button
          type="button"
          class="btn btn-primary mb-4"
          style="
            background-color: #ff7622;
            border: 2px solid #ff7622;
            color: #fff;
          "
          data-toggle="modal"
          data-target="#createVoucherModal"
        >
          Thêm Voucher
        </button>

        <!-- Voucher List -->
        <table class="table table-bordered">
          <thead>
            <tr style="background-color: #ff7622; color: aliceblue">
              <th style="text-align: center">ID</th>
              <th style="text-align: center">Ngày tạo</th>
              <th style="text-align: center">Code mã</th>
              <th style="text-align: center">Mô tả</th>
              <th style="text-align: center">Số lượng</th>
              <th style="text-align: center">Ngày bắt đầu</th>
              <th style="text-align: center">Ngày hết hạn</th>
              <th style="text-align: center">Giá trị giảm</th>
              <th style="text-align: center">Trạng thái</th>
              <th style="text-align: center">thời hạn</th>
              <th style="text-align: center">Chức năng</th>
            </tr>
          </thead>
          <tbody>
            <% vouchers.forEach(voucher => { %>
            <tr>
              <td><%= voucher.id %></td>
              <td><%= voucher.createdAt %></td>
              <td><%= voucher.code %></td>
              <td><%= voucher.description %></td>
              <td><%= voucher.quantity %></td>
              <td><%= voucher.validFrom %></td>
              <td><%= voucher.validTo %></td>
              <td><%= voucher.discountAmount %></td>
              <td><%= voucher.status %></td>
              <td><%= voucher.isExpired %></td>
              <td>
                <a
                  href="/admin/vouchers/edit/<%= voucher.id %>"
                  class="btn btn-warning btn-sm"
                  >Sửa</a
                >
                <form
                  action="/admin/vouchers/delete/<%= voucher.id %>"
                  method="post"
                  style="display: inline"
                  onsubmit="return confirmDeletion()"
                >
                  <button type="submit" class="btn btn-danger btn-sm">
                    Xoá
                  </button>
                </form>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Create Voucher Modal -->
    <div
      class="modal fade"
      id="createVoucherModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="createVoucherModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="createVoucherModalLabel">
              Thêm Voucher
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form
              id="createVoucherForm"
              action="/admin/vouchers/create"
              method="post"
            >
              <div class="form-group">
                <label for="modalCode">Voucher Code</label>
                <input
                  type="text"
                  id="modalCode"
                  name="code"
                  class="form-control"
                  required
                />
              </div>
              <div class="form-group">
                <label for="modalDescription">Description</label>
                <input
                  type="text"
                  id="modalDescription"
                  name="description"
                  class="form-control"
                />
              </div>
              <div class="form-group">
                <label for="modalQuantity">Quantity</label>
                <input
                  type="number"
                  id="modalQuantity"
                  name="quantity"
                  class="form-control"
                  required
                />
              </div>
              <div class="form-group">
                <label for="modalValidFrom">Valid From</label>
                <input
                  type="date"
                  id="modalValidFrom"
                  name="validFrom"
                  class="form-control"
                  required
                />
              </div>
              <div class="form-group">
                <label for="modalValidTo">Valid To</label>
                <input
                  type="date"
                  id="modalValidTo"
                  name="validTo"
                  class="form-control"
                  required
                />
              </div>
              <div class="form-group">
                <label for="modalDiscountAmount">Discount Amount</label>
                <input
                  type="number"
                  step="0.01"
                  id="modalDiscountAmount"
                  name="discountAmount"
                  class="form-control"
                  required
                />
              </div>
              <div class="form-group">
                <label for="modalStatus">Status</label>
                <select
                  id="modalStatus"
                  name="status"
                  class="form-control"
                  required
                >
                  <option value="active">Active</option>
                  <option value="inactive">Inactive</option>
                </select>
              </div>
              <button
                type="submit"
                class="btn btn-primary"
                style="background-color: #ff7622"
              >
                Thêm Voucher
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
      function getTodayInVietnamTimeZone() {
        const today = new Date();
        const offset = today.getTimezoneOffset() / 60; // Độ lệch múi giờ theo giờ
        const vietnamOffset = 7; // Múi giờ Việt Nam là GMT+7
        today.setHours(today.getHours() + (vietnamOffset - offset));
        return today.toISOString().split("T")[0];
      }

      // Cập nhật thuộc tính 'min' của các trường ngày tháng
      document
        .getElementById("modalValidFrom")
        .setAttribute("min", getTodayInVietnamTimeZone());
      document
        .getElementById("modalValidTo")
        .setAttribute("min", getTodayInVietnamTimeZone());
      function confirmDeletion() {
        return confirm("Bạn có muốn xoá voucher này không?");
      }
    </script>
  </body>
</html>
